In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (2.0.41)

[notice] A new release of pip available: 22.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: greenlet>=1 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.12.2)

In [2]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:123456789@localhost:5432/learndb")
conn = engine.connect()
print("✅ Connected successfully")

✅ Connected successfully

In [3]:
import pandas as pd

df = pd.read_sql("SELECT * FROM customer;", con=engine)
df.head()

,custid,custname,age,city,salary
0,1,Sam,26,Delhi ...,9000.0
1,2,Ram,19,Bangalore ...,11000.0
2,4,Xam,32,Pune ...,10000.0